
nohup.out
dudaq.tar
dudaq/myfiles/.DS_Store
.DS_Store
*.o
dudaq.tar
dudaq.tar
fft.pdf
Hist.root
dudaq/myfiles/du_monitor.h~
dudaq/myfiles/Makefile~
dudaq/myfiles/monitor.c~
*.root
Nancay1.pdf
ScopeNancay.pdf
SpecNancaydet.pdf
SpecNancayfull.pdf
*.pdf
tools/noise.txt



# coverage test files
*.gcno
*.gcda
*.d

# eclipse 
.project
.cproject
.pydevproject
.settings

.autotools

tools/Traces

